h1{
    font-weight: bold;
    text-align: center;
}
address{
    font-weight: normal;
    font-size: medium;
}
tr{
    text-align: center;
    font-size: 20px;
}
td{
    text-align: center;
    font-size: 20px;
}
p{
    font-size: 25px;
}
ul,ol{
    font-size: 20px;
}
img{
    align-items: flex-end;
}